@media only screen and (max-width: 1023px)

  .navigation > .navigation-item:last-child
    display: none

  #navigation-create-vote
    display: none


@media only screen and (max-width: 900px)
  .navigation
    padding: 20px

  .navigation > .navigation-item
    display: none

  .navigation > .navigation-item:first-child
    display: block

  .view-page
    padding: 10px

  .view-vote
    padding: 10px

  .vote-child
    width: 200px

  .view-vote-footer
    justify-content: end;
    flex-wrap: wrap-reverse;


  .vote-list-wrapper
    margin: 20px;


  .result-item
    flex-direction: column

  .result-body
    width: 100%
    border: none

  .result-chart
    width: 100%

  .menu-user-admin
    display: block
