.vote-list-wrapper
  margin: 40px 150px
  h1
    color: white
    margin-left: 5px

.vote-parent
  display: flex
  flex-wrap: wrap
  justify-content: flex-start

.vote-child
  position: relative
  flex-basis: 394px
  margin: 5px
  min-height: 270px
  height auto
  background-color: white
  border: 1px solid #E2E5F0
  padding: 25px
  h1
    margin: 0;
    color: black;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
    max-width: 322px;

.vote-content-separator
  width: 100%
  border: 1px solid #EEEEEE
  margin: 30px 0

.vote-details
  color: #989EA9

.vote-detail-row
  display: flex
  justify-content: space-between

.vote-detail-info
  color: #001d3d
  font-weight: 600
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  max-width: 200px

.vote-submit-btn
  width: 100%;
  padding: 10px !important;
  height: 50px !important;
  border-radius: 5px !important;
  margin-top: 40px;

.vote-dropdown
  position: absolute
  top: 40px
  right: 20px
  font-size: 16px
  a
    color: black !important
    font-weight: bold

.vertical-ellipsis-icon
  transform: rotate(90deg) !important

#user-vote
  margin: 0 auto
