.ant-checkbox-group-item
  display block !important
  margin-bottom: 7px

.builder-preview
  position: relative
  //padding: 50px
  width 800px
  background-color white
  box-sizing: border-box
  //height: calc(100vh - 250px)
  //overflow-y: auto
  display: flex;
  flex-direction: column;

.live-preview
  text-align: center;
  background-color: #ffa500
  color: #fff
  padding: 10px
  width: 150px
  //position: absolute
  //left: 0
  //right: 0
  //top: 0
  margin-left: auto
  margin-right: auto

.box
  .preview-title
    text-align: center
    margin-top: 100px
    h1
      color: black
      margin: 50px 0 100px 0


.view-vote-body
  //margin-bottom 150px
  flex-grow: 1

.view-vote-footer
  display: flex
  justify-content: space-between
  //position: absolute;
  bottom: 0
  right: 0
  left: 0
  position: sticky
  padding: 10px 0
  background: #fff
  flex-shrink: 0

  .view-vote-submit-btn
    border: 1px solid #2474f2
    flex-basis: 160px
    border-radius: 0
    margin-right: auto
    margin-left: 15px
    &:disabled
      border: none



.view-vote-questions-counter
  background-color: #2474F2;
  color: white;
  padding: 5px;
  text-align: center;
  width: 160px;
  border-radius: 2px;
  height: auto;

.view-vote-questions-pointer
  button
    background-color: #F2F2F2 !important
    border: 0 !important
    i
      color: #2474f2
    &[disabled] i
        color: #C2C2C2
  #btn-left
    margin-right: 2px


.view-vote
  display: flex
  flex-direction column
  padding: 30px 30px 0;
  min-height: 300px;
  position: relative;
  flex-grow: 1;
  overflow-y: auto


.view-page
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px;
  width: 600px;
  max-width: 100%
  margin: auto;
  background-color: #fff;
  box-sizing: border-box;
  height: calc(100vh - 90px);
  overflow-y: auto;

.view-title
  font-size: 20px;
  font-weight: bold
  color: black

.view-question-title
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  color: black
